<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>thliem.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>thliem.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>thliem.controllers.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionController</servlet-name>
        <servlet-class>thliem.controllers.CreateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionController</servlet-name>
        <servlet-class>thliem.controllers.UpdateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionController</servlet-name>
        <servlet-class>thliem.controllers.DeleteQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionPageController</servlet-name>
        <servlet-class>thliem.controllers.CreateQuestionPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePageController</servlet-name>
        <servlet-class>thliem.controllers.ManagePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>thliem.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuestionController</servlet-name>
        <servlet-class>thliem.controllers.SearchQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDeleteDispatcherController</servlet-name>
        <servlet-class>thliem.controllers.UpdateDeleteDispatcherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectPageController</servlet-name>
        <servlet-class>thliem.controllers.SubjectPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>thliem.controllers.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSubjectController</servlet-name>
        <servlet-class>thliem.controllers.CreateSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubjectController</servlet-name>
        <servlet-class>thliem.controllers.UpdateSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultPageController</servlet-name>
        <servlet-class>thliem.controllers.ResultPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountPageController</servlet-name>
        <servlet-class>thliem.controllers.CreateAccountPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPageController</servlet-name>
        <servlet-class>thliem.controllers.LoginPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryPageController</servlet-name>
        <servlet-class>thliem.controllers.HistoryPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeTestController</servlet-name>
        <servlet-class>thliem.controllers.TakeTestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteQuizController</servlet-name>
        <servlet-class>thliem.controllers.CompleteQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToResultPageController</servlet-name>
        <servlet-class>thliem.controllers.ToResultPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/CreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionController</servlet-name>
        <url-pattern>/CreateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionController</servlet-name>
        <url-pattern>/UpdateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionController</servlet-name>
        <url-pattern>/DeleteQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionPageController</servlet-name>
        <url-pattern>/CreateQuestionPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePageController</servlet-name>
        <url-pattern>/ManagePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuestionController</servlet-name>
        <url-pattern>/SearchQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDeleteDispatcherController</servlet-name>
        <url-pattern>/UpdateDeleteDispatcherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectPageController</servlet-name>
        <url-pattern>/SubjectPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/HomePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSubjectController</servlet-name>
        <url-pattern>/CreateSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubjectController</servlet-name>
        <url-pattern>/UpdateSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultPageController</servlet-name>
        <url-pattern>/ResultPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountPageController</servlet-name>
        <url-pattern>/CreateAccountPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPageController</servlet-name>
        <url-pattern>/LoginPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryPageController</servlet-name>
        <url-pattern>/HistoryPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeTestController</servlet-name>
        <url-pattern>/TakeTestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteQuizController</servlet-name>
        <url-pattern>/CompleteQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToResultPageController</servlet-name>
        <url-pattern>/ToResultPageController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           45 
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <listener>
        <listener-class>thliem.controllers.ContextListener</listener-class>
    </listener>
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>thliem.filters.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <welcome-file-list>
        <welcome-file>LoginPageController</welcome-file>
    </welcome-file-list>
</web-app>
